/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}
html, body { height: 100%; }
body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif;
     /* background-image: url(./assets/images/paw.png) ;
     background-repeat: no-repeat;
     background-position: center; } */
}
.cdk-overlay-container{
    display: inline-block !important;
    position: fixed;
    top:20px;
    left:20px;

}
